.card-img {
    width: auto;
    height: auto;
    align-self: center;
    margin: auto auto;
    max-height: 250px;
}

.root-content {
    --ion-background-color:: lightgrey !important;
    background-color: lightgrey;
}

.card-content {
    --ion-background-color:: white !important;
    background-color: white;
}