<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button [defaultHref]=defaultRouting></ion-back-button>
      </ion-buttons>
    <ion-title>reviews</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end ion-padding-top">

      <!-- Product - Card - Convert to - Component?  -->
      <ion-card class="ion-padding-start ion-padding-end">

        <!-- Vendor avator - product title -->
          <ion-item>
            <ion-avatar item-start>
              <img [src]="vendor ? vendor.Avator : 'assets/img/ms.png' ">
            </ion-avatar>
            <h3>{{ vendor.Title }} - {{ product.Title }} </h3>
          </ion-item>
        
          <!-- Product logo -->
          <div style="background-color:black">
              <img class="card-img" [src]="product ? product.Avator : 'assets/img/vs2019.png'" alt="ionic logo">
          </div>
        
          <!-- Product Description Here.  -->
          <ion-card-content>
            <p>{{ product.Description }}</p>
          </ion-card-content>

          <!-- Meta - Categories -->
          
          <ion-item>
            <ion-chip>
              <ion-label>Productivity</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label>IDE</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label>OSS</ion-label>
            </ion-chip>
          </ion-item>

          <!-- Company Details, Product Website, Meta Tags, Usage Details? -->
          <ion-item>
              <ion-icon name="logo-twitter" item-start></ion-icon>
              <p>Followers</p>
              <ion-badge item-end>{{ product.Downloads}}</ion-badge>
          </ion-item>

          <ion-item>
              <ion-icon name="musical-notes" item-start></ion-icon>
              <p>Likes</p>
              <ion-badge item-end>{{ product.Votes }}</ion-badge>
          </ion-item>
        
      </ion-card>    

        <!-- Reviews -->
        <ion-list class="ion-padding-start ion-padding-end">

          <!-- Add Review Button -->
          <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="!addReview" size="large">
            <ion-fab-button (click)='enableEdit()'>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>

          <ion-card *ngIf="addReview">

            <!-- Reviewer avator - Name - Title -->
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/user.png">
              </ion-avatar>
              <span>{{ username }}</span>
            </ion-item>

            <!-- Review Details Here.  -->
            <ion-card-content>
              <ion-item>
                <ion-textarea placeholder="Enter more information here..."></ion-textarea>
              </ion-item>              
            </ion-card-content>

            <ion-item>
              <ion-button color="primary">Save</ion-button>
              <ion-button color="secondary" (click)="disableEdit()" >Cancel</ion-button>
            </ion-item>

            </ion-card>

          <!-- Review Card  -->
          <ion-card *ngFor="let review of reviews" >

            <!-- Reviewer avator - Name - Title -->
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/user.png">
              </ion-avatar>
              <span>{{ review.User }}</span>
            </ion-item>

            <!-- Review Details Here.  -->
            <ion-card-content>
                <p> {{ review.Review }} </p>
            </ion-card-content>

            <ion-item>
                <ion-icon name="musical-notes" item-start></ion-icon>
                <p>Up Vote</p>
                <ion-badge item-end>{{ review.Votes }} </ion-badge>
            </ion-item>

            </ion-card>

        </ion-list>

</ion-content>
